{
  "extends": "eslint:recommended",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "mocha": true,
    "node": true
  },
  "globals": {
    "angular": true,
    "inject": true,
    "expect": true
  },
  "rules": {
    "no-console": 0,
    "eqeqeq": 1
  }
}
